---
import PostDetails from "@components/PostDetails.astro";
import PaginationLinks from "@components/PaginationLinks.astro";
import TableOfContents from "@components/TableOfContents.astro";
import MainLayout from "@layouts/MainLayout.astro";
import BlogPostLayout from "@layouts/BlogPostLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const notes = await getCollection("notes", ({ data }) => {
    const isLive = import.meta.env.DEV ? true : data.status === "Live";
    return isLive;
  });
  return notes.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

const metadata = {
  description: entry.data.description,
  imagePath: "",
  title: entry.data.title,
  url: canonicalUrl.toString(),
};

const { title, dateUpdated, tags, source } = entry.data;

const postDetails = {
  title,
  date: dateUpdated,
  tags,
  isPost: false,
  noteSrc: source,
};
---

<MainLayout metadata={metadata}>
  <section id="top">
    <a href="/notes" class="back-link gradient-text">
      <span>«</span> Back to the full notes list</a
    >
    <div class="info">
      <PostDetails postDetails={postDetails} />
    </div>
    <div class="toc">
      <TableOfContents headings={headings} />
    </div>
    <div class="body">
      <BlogPostLayout>
        <Content />
      </BlogPostLayout>
    </div>
    <div class="links">
      <PaginationLinks main="#top" mainText="Back to top" />
    </div>
  </section>
</MainLayout>

<style>
  section {
    scroll-margin-top: var(--scroll-height);
    display: grid;
    grid-template-areas:
      "back-link"
      "info"
      "toc"
      "body"
      "links";
    justify-content: center;
    gap: 0.5rem;
  }

  .back-link {
    font-weight: bolder;
    grid-area: back-link;

    & span {
      font-size: var(--b-lg);
    }
  }

  .info {
    grid-area: info;
  }

  .toc {
    grid-area: toc;
    justify-self: center;
    margin-bottom: var(--s40);
    scrollbar-gutter: stable;
    min-inline-size: 100%;
  }

  .body {
    grid-area: body;
    scrollbar-gutter: stable;
  }

  .links {
    grid-area: links;
  }

  @media (min-width: 1024px) {
    section {
      grid-template-areas:
        "back-link back-link"
        "info info"
        "body toc"
        "links links";
      grid-template-columns: 2fr 0.75fr;
    }

    .body {
      padding: 0 1.5rem;
    }
  }
</style>
