---
import BlogCardsWrapper from "@components/BlogCardsWrapper.astro";
import TagList from "@components/TagList.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { getCollection } from "astro:content";

const notes = await getCollection("notes");
const tags = [...new Set(notes.flatMap((note) => note.data.tags))];
---

<MainLayout metadata={DEFAULT_METADATA}>
  <div class="intro">
    <h2>Linda's Notes!</h2>
    <p>
      Notes from courses I've taken and events I've attended, or collections of
      common snippets or things I forget.
    </p>
  </div>
  <TagList tags={tags} collectionType="notes" />
  <BlogCardsWrapper posts={notes} />
</MainLayout>

<style>
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .intro {
    margin: 0 auto 3rem;
    text-align: center;
    width: 95%;
  }

  .intro p {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    .intro {
      width: 55%;
    }
  }
</style>
