---
import NotePreviewCard from "@components/NotePreviewCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { getCollection } from "astro:content";

const notes = await getCollection("notes");
---

<MainLayout metadata={DEFAULT_METADATA}>
  <div class="intro">
    <h1>Linda's Notes!</h1>
    <p>
      Notes and snippets from courses I've taken, books I've read, or things I
      always forget how to do.
    </p>
  </div>
  <div class="posts-wrapper">
    {
      notes
        .sort((a, b) => {
          if (a.data.title < b.data.title) {
            return -1;
          } else if (a.data.title > b.data.title) {
            return 1;
          } else {
            return 0;
          }
        })
        .map((note) => <NotePreviewCard noteInfo={note} />)
    }
  </div>
</MainLayout>

<style>
  h1 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .intro {
    font-size: 1.1rem;
    margin: 0 auto 3rem;
    text-align: center;
    width: 55%;
  }

  .intro p {
    margin-bottom: 1.5rem;
  }

  .posts-wrapper {
    margin: 0 auto;
    width: 50%;
  }

  @media (max-width: 520px) {
    .posts-wrapper {
      width: 100%;
    }
  }

  @media (min-width: 520px) and (max-width: 1024px) {
    .posts-wrapper {
      width: 85%;
    }
  }

  @media (min-width: 1280px) {
    .posts-wrapper {
      width: 45%;
    }
  }
</style>
