---
import BlogIndexIntro from "@components/BlogIndexIntro.astro";
import PostPreviewCard from "@components/PostPreviewCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
---

<MainLayout metadata={DEFAULT_METADATA}>
  <BlogIndexIntro />
  <div class="posts-wrapper">
    {
      allBlogPosts
        .sort(
          (a, b) =>
            b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
        )
        .map((blogPostEntry) => <PostPreviewCard blogBit={blogPostEntry} />)
    }
  </div>
</MainLayout>

<style>
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .posts-wrapper {
    display: grid;
    gap: var(--s64);
  }

  @media (min-width: 768px) {
    .posts-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
