/* 
COLOR THEME
*/

:root {
  --black: oklch(0.32 0.002 247.9);
  --white: oklch(0.95 0.003 219.53);
  --gray-light: oklch(0.81 0.004 219.54);
  /* --gray-mid: oklch(0.35 0.007 248.02); #383B3E */
  --gray-dark: oklch(0.27 0.002 247.91);
  --pastel-blue: oklch(0.84 0.069 208.77);
  --pastel-green: oklch(0.86 0.126 143.77);
  --pastel-pink: oklch(0.8 0.078 5.76);
  --pastel-purple: oklch(0.79 0.1 313.35);
  --deep-blue: oklch(0.351 0.098 239.23);
  --deep-green: oklch(0.351 0.123 140.642);
  --deep-pink: oklch(0.351 0.172 5);
  --deep-purple: oklch(0.351 0.172 308);
}

[data-theme="dark"] {
  --background: var(--black, #323334);
  --bg-shadow: var(--gray-dark, #252627);
  --blue: var(--pastel-blue, #96D9E4);
  --green: var(--pastel-green, #9CE59A);
  --pink: var(--pastel-pink, #EAA9B6);
  --purple: var(--pastel-purple, #D3A9EA);
  --text-main: var(--white, #EBEEEF);
  --text-flip: var(--background);
  --link: var(--purple);

  --gradient: linear-gradient(
    60deg,
    hsl(348deg 61% 79%) 0%,
    hsl(330deg 61% 79%) 8%,
    hsl(313deg 61% 79%) 17%,
    hsl(296deg 61% 79%) 25%,
    hsl(279deg 61% 79%) 33%,
    hsl(257deg 61% 78%) 42%,
    hsl(233deg 60% 76%) 50%,
    hsl(211deg 60% 75%) 58%,
    hsl(188deg 59% 74%) 67%,
    hsl(171deg 59% 74%) 75%,
    hsl(154deg 58% 75%) 83%,
    hsl(136deg 59% 75%) 92%,
    hsl(118deg 59% 75%) 100%
  );
}

[data-theme="light"] {
  --background: var(--white, #EBEEEF);
  --bg-shadow: var(--gray-light, #BDC0C1);
  --blue: var(--deep-blue, #003f68);
  --green: var(--deep-green, #054900);
  --pink: var(--deep-pink, #7a002f);
  --purple: var(--deep-purple, #54077D);
  --text-main: var(--black, #323334);
  --text-flip: var(--background);
  --link: var(--pink);

  --gradient: linear-gradient(
    60deg,
    hsl(337deg 100% 24%) 0%,
    hsl(323deg 97% 25%) 8%,
    hsl(308deg 95% 25%) 17%,
    hsl(294deg 92% 25%) 25%,
    hsl(279deg 89% 26%) 33%,
    hsl(260deg 92% 25%) 42%,
    hsl(242deg 95% 23%) 50%,
    hsl(222deg 98% 22%) 58%,
    hsl(204deg 100% 20%) 67%,
    hsl(181deg 100% 19%) 75%,
    hsl(160deg 100% 17%) 83%,
    hsl(138deg 100% 16%) 92%,
    hsl(116deg 100% 14%) 100%
  );
}
