/* Initial font families */
html {
  --body-font: sans-serif;
  --cursive-font: "Brush Script MT", serif;
  --serif-font: serif;
}

/* Once web fonts are loaded */
.fonts-loaded {
  --body-font: "Fira Sans", system-ui, sans-serif;
  --cursive-font: "Birthstone", "Brush Script MT", serif;
  --serif-font: "Source Serif 4", serif;
}