@layer base {
  /* Initial font families */
  html {
    --body-font: serif;
    --heading-font: "Brush Script MT", serif;
    --accent-font: sans-serif;
  }

  /* Once web fonts are loaded */
  .fonts-loaded {
    --body-font: "Source Serif 4", serif;
    --heading-font: "Birthstone", "Brush Script MT", serif;
    --accent-font: "Fira Sans", system-ui, sans-serif;
  }
}
