@import "reset.css";

/* Media queries sadly cannot use css variables. Storing the expected values here as a reference.
 --xs (min-width: 520px);
 --sm (min-width: 768px);
 --md (min-width: 1024px);
 --lg (min-width: 1280px);
 --xl (min-width: 1640px);
*/

/* global variables */
:root {
  --body-font: "Fira Sans", sans-serif;
  --serif-font: "Overlock", serif;
  --cursive-font: "Birthstone", cursive;
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --2xl: 40px;
  --3xl: 48px;
  --4xl: 56px;
  --5xl: 64px;
  --6xl: 72px;
  --7xl: 80px;
  font-size: var(--md);
  --header-height: var(--5xl);
  /* --footer-height: 10.25rem; */
}

/* 
dark
purple: D3A9EA 
blue: 95D9E4
green: 9DE59A 
pink: EAA9B6 

light
purple: 54077e
blue: 054e5e
green: 135809
pink: 77133c

black: 323334 
white: ebeeef
*/

[data-theme="dark"] {
  --background: hsla(210, 2%, 20%, 1);
  --bg-shadow: hsla(210, 2%, 15%, 1);
  --box-shadow: hsla(210, 2%, 75%, 0.5);
  --text-main: hsla(195, 10%, 93%, 1);
  --text-flip: var(--background);
  --purple: hsla(279, 61%, 79%, 1);
  --blue: hsla(188, 59%, 74%, 1);
  --green: hsla(118, 59%, 75%, 1);
  --pink: hsla(348, 61%, 79%, 1);
  --gradient: linear-gradient(
    60deg,
    hsl(348deg 61% 79%) 0%,
    hsl(336deg 62% 79%) 9%,
    hsl(321deg 57% 78%) 18%,
    hsl(297deg 47% 77%) 27%,
    hsl(262deg 70% 82%) 36%,
    hsl(221deg 92% 82%) 45%,
    hsl(204deg 86% 76%) 55%,
    hsl(192deg 67% 74%) 64%,
    hsl(182deg 58% 70%) 73%,
    hsl(169deg 63% 69%) 82%,
    hsl(152deg 64% 71%) 91%,
    hsl(118deg 59% 75%) 100%
  );
}

[data-theme="dark"] [astro-icon="sun"] {
  visibility: hidden;
}

[data-theme="dark"] [astro-icon="moon"] {
  visibility: visible;
}

[data-theme="light"] {
  --background: hsla(206, 3%, 90%, 1);
  --bg-shadow: hsla(206, 3%, 75%, 1);
  --box-shadow: hsla(206, 5%, 23%, 0.5);
  --text-main: hsla(210, 2%, 20%, 1);
  --text-flip: var(--background);
  --purple: hsla(279, 89%, 26%, 1);
  --blue: hsla(191, 90%, 19%, 1);
  --green: hsla(112, 81%, 19%, 1);
  --pink: hsla(335, 72%, 27%, 1);
  --gradient: linear-gradient(
    60deg,
    hsl(335deg 72% 27%) 0%,
    hsl(323deg 100% 23%) 9%,
    hsl(312deg 100% 22%) 18%,
    hsl(294deg 100% 22%) 27%,
    hsl(259deg 62% 32%) 36%,
    hsl(214deg 100% 27%) 45%,
    hsl(205deg 100% 24%) 55%,
    hsl(194deg 100% 20%) 64%,
    hsl(187deg 100% 18%) 73%,
    hsl(174deg 100% 17%) 82%,
    hsl(154deg 100% 17%) 91%,
    hsl(112deg 81% 19%) 100%
  );
}

[data-theme="light"] [astro-icon="sun"] {
  visibility: visible;
}

[data-theme="light"] [astro-icon="moon"] {
  visibility: hidden;
}

/* basic font & color settings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-main);
  font-family: var(--serif-font);
  font-weight: 700;
  margin: 1rem auto;
}

p,
li,
span,
a {
  color: var(--text-main);
  font-family: var(--body-font);
}

body {
  background-color: var(--background);
  transition: all 0.3s ease-in-out;
}

/* styles used on multiple pages */
.divider {
  background: var(--gradient);
  height: 6px;
}

.shadow-under {
  box-shadow: 0 4px 5px var(--bg-shadow);
}

.shadow-over {
  box-shadow: 0 -4px 5px var(--bg-shadow);
}

ul {
  list-style-type: none;
  padding-left: 1.75rem;
}

ul li {
  margin-bottom: 0.5rem;
  text-indent: -4.5%;
}

ul li::before {
  color: var(--purple);
  content: "»";
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0.5rem;
}

ul li:nth-child(2n)::before {
  color: var(--blue);
}

ul li:nth-child(3n)::before {
  color: var(--pink);
}

ul li:nth-child(4n)::before {
  color: var(--green);
}

.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: var(--text-main);
  background-image: var(--gradient);
  background-repeat: repeat;
  background-size: 100%;
}

/* specifics for packages */
[astro-icon] {
  fill: currentColor;
}

@media (max-width: 520px) {
  ul {
    padding-left: 0.75rem;
  }
}
