@import "reset.css";

/* Media queries sadly cannot use css variables. Storing the expected values here as a reference.
 --xs (min-width: 520px);
 --sm (min-width: 768px);
 --md (min-width: 1024px);
 --lg (min-width: 1280px);
 --xl (min-width: 1640px);
*/

/* global variables */
:root {
  --heading-font: "Rancho", sans-serif;
  --body-font: "Fira Sans", sans-serif;
  --header-height: 3.75rem;
  --footer-height: 9rem;
}

/* 
  dark theme
  background hsl(0,0%,20%)
  bg-shadow hsl(0,0%,10%)
  bg-light hsl(0,0%,30%)
  text-main hsl(0,0%,85%)
  text-flip hsl(0,0%,20%)
  accent hsla(233, 65%, 73%, 1)
  highlight hsla(164, 51%, 65%, 1)
 
  light theme
  background hsla(248, 0%, 85%, 1)
  bg-shadow hsla(248, 0%, 70%, 1)
  bg-light hsla(248, 0%, 95%, 1)
  text-main hsl(0,0%,20%)
  text-flip hsla(248, 0%, 85%, 1)
  accent hsla(177, 100%, 21%, 1)
  highlight hsla(287, 40%, 41%, 1)
*/

.theme-dark {
  --background: #333333;
  --bg-shadow: #1a1a1a;
  --bg-light: #4d4d4d;
  --text-main: #d9d9d9;
  --text-flip: #333333;
  --accent: #8c97e7;
  --highlight: #78d3bb;
}

.theme-light {
  --background: #d9d9d9;
  --bg-shadow: #b3b3b3;
  --bg-light: #f2f2f2;
  --text-main: #333333;
  --text-flip: #d9d9d9;
  --accent: #006963;
  --highlight: #803f92;
}

/* basic font & color settings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--text-main);
  letter-spacing: 0.08rem;
}

p,
li,
span {
  font-family: var(--body-font);
  color: var(--text-main);
}

body {
  background-color: var(--background);
}

/* styles used on multiple pages */
.divider {
  height: 6px;
  background: var(--accent);
}

ul {
  list-style-type: none;
  padding-left: 3%;
}

ul li {
  text-indent: -4.5%;
  margin-bottom: 2%;
}

ul li::before {
  content: "»";
  margin: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--highlight);
}

ul li:nth-child(2n)::before {
  color: var(--accent);
}

/* Light theme specific settings */
.theme-light .link {
  text-shadow: none;
}

.theme-light .sun {
  visibility: visible;
}

.theme-light .moon {
  visibility: hidden;
}

/* Dark theme specific settings */
.theme-dark .sun {
  visibility: hidden;
}

.theme-dark .moon {
  visibility: visible;
}
