---
import { Image } from "astro:assets";
import profilePic from "../assets/profile-pic.jpg";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="about-me">
    <Image
      src={profilePic}
      class="selfie"
      alt="Woman with blue, purple, pink, and brown hair, brown eyes, green glasses, and a confident smirk."
    />
    <div class="about-me-text">
      <h1>About Linda</h1>
      <p>
        I'm a web developer with a front-end focus who loves working with
        JavaScript and CSS. I'm the kid who bought puzzle books for the logic
        puzzles, so building out functionality and solving problems with
        JavaScript is my jam. And I love getting to add my own flair and
        creativity to a project with CSS. I believe the web should be for
        everyone, so I work hard to keep accessibility and responsive design
        principles in mind as I'm building.
      </p>
      <p>
        So what value do I add to your team?
        <ul>
          <li>
            I'm <strong>empathetic</strong> and want everyone I work with to feel heard and
            understood.
          </li>
          <li>
            I'm <strong>resilient</strong> and determined to a fault when troubleshooting and
            finding solutions.
          </li>
          <li>
            I'm a <strong>fast learner</strong>, eager to learn from those around me and share
            what wisdom I have as well.
          </li>
          <li>
            I'm an <strong>optimistic realist</strong> - I see the bright side in everything but
            have the experience to know when to ask for help or take a break.
          </li>
        </ul>
      </p>
      <p>
        Want to work together? Please reach out at <span
          class="email-copy-action gradient-text">hello@lindakat.com</span
        >.
      </p>
    </div>
  </section>
  <div class="work-sections-wrapper">
    <section class="background">
      <h2>My Background</h2>
      <p>
        I'm a proud career changer! Most of my work history has been spent doing
        customer service and office admin roles in the printing, music, and
        retail industries. These roles have given me a wealth of skills in
        communicating well, keeping track of project details, and working as a
        team.
      </p>
      <p>
        But I wasn't satisfied in any of these roles - they were positions I
        sort of fell into, not something I chose. Software engineering has
        become the thing I've chosen for myself, letting me scratch my creative
        itch and also be valued for my mind as well as my work ethic. It's been
        one of the best decisions of my life to start learning how to code and
        make the transition, and I couldn't be prouder of myself for following
        it through and continuing to grow!
      </p>
    </section>
    <section class="work-values">
      <h2>My Work Values</h2>
      <p>Here's a few things I look for when seeking my next project:</p>
      <ul>
        <li>
          <strong>An open and communicative office</strong> - where asking
          questions is safe, feedback is constructive, and the whole human is
          considered.
        </li>
        <li>
          <strong>Working with a diverse team</strong> - a mix of viewpoints
          from different backgrounds and groups is vital to a company's ability
          to benefit others. I want to work with a variety of folks and have the
          chance to learn new things.
        </li>
        <li>
          <strong>Building a product that benefits others</strong> - I want to
          spend my time on something that makes someone's day easier or
          brighter. Bonus points if it involves music, is for other developers,
          or improves lives through education, healthcare, or democracy!
        </li>
      </ul>
    </section>
  </div>
</MainLayout>

<style>
  section {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    color: var(--pink);
    margin-bottom: 0.75rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: var(--purple);
  }

  p {
    margin-bottom: 0.5rem;
  }

  .selfie {
    width: 50%;
    height: auto;
    margin: 3.25rem auto 1rem;
    border-radius: 50px;
    border: 2px solid var(--blue);
    box-shadow: -12px 12px 16px 0px var(--box-shadow);
  }

  .email-copy-action {
    cursor: pointer;
    text-decoration: solid underline var(--blue);
    transition: background 0.3s ease-in-out;
    background-image: none;
    background-color: var(--pink);
  }

  .email-copy-action:hover {
    text-decoration-style: double;
    background-image: var(--gradient);
  }

  @media (min-width: 1024px) {
    section {
    padding: 0 3rem 1rem;
    }
    .about-me {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
    }
    .selfie {
      width: 30%;
      margin-top: 4.75rem;
    }

    .about-me-text {
      margin-left: 1.25rem;
    }

    .work-sections-wrapper {
    display: flex;
  }

  .background {
    width: 50%;
  }

  .work-values {
    width: 50%;
  }
  }

  @media (min-width: 1640px) {
    section {
    padding: 0 9rem 1rem;
    }

    ul {
      padding-left: 3.75rem;
    }
    
    .about-me {
      align-items: flex-end;
    }
    .selfie {
      width: 20%;
    }
  }
</style>

<script>
  const email = document.querySelector(".email-copy-action");
  email?.addEventListener("click", () => {
    navigator.clipboard.writeText("hello@lindakat.com").then(
      () => {
        console.log("Successfully copied text!");
      },
      () => {
        console.error("Sorry, could not copy text");
      }
    );
  });
</script>
