---
import ProjectCard from "@components/ProjectCard.astro";
import SocialsGrid from "@components/SocialsGrid.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { getCollection } from "astro:content";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});
---

<BaseLayout metadata={DEFAULT_METADATA}>
  <section class="splash">
    <h1>Linda Thompson</h1>
    <p>
      A software sorceress, elevating teams through intentional design &
      inclusive code.
    </p>
    <SocialsGrid />
  </section>
  <section class="projects">
    <h2>Projects</h2>
    <div class="project-cards">
      {featuredProjects.sort((a, b) => {
        // sort by lastPublishDate descending (newest first)
        const aTime = new Date(a.data.lastPublishDate).getTime();
        const bTime = new Date(b.data.lastPublishDate).getTime();
        return bTime - aTime;
      }).map((project, i) => {
        const width = i % 4 === 0 || i % 4 === 3 ? 'double' : 'single';
        return <ProjectCard class=`${width}` project={project} />
      })}
    </div>
  </section>
</BaseLayout>

<style>
  section {
    margin-block-end: 8rem;
    margin-inline: 2rem;
  }

  .splash {
    min-block-size: 50vh;
    padding-block: 6rem;
    max-inline-size: 48rem;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 2rem;
    margin-inline: auto;

    & h1 {
      font-family: var(--accent-font);
      font-size: clamp(var(--font-size-6xl), 12vw, 6rem);
      font-weight: normal;
      line-height: 1;
    }

    & p {
      font-size: clamp(var(--font-size-md), 4vw, var(--font-size-lg));
      max-inline-size: 36rem;
    }
  }

  .projects {
    container-type: inline-size;
    & h2 {
      text-align: center;
    }

    & .project-cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      @container (min-width: 48rem) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (min-width: 48rem) {
    .splash {
      gap: 0.5rem;
    }
  }
</style>
