---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="title">Linda Thompson</h1>
  <p class="subtitle">A badass, detail-loving, empathetic web dev</p>
</MainLayout>

<style>
  .title {
    margin-top: 4rem;
    font-size: 6rem;
    text-align: center;
  }

  .subtitle {
    text-align: center;
    font-size: 1.5rem;
  }
</style>
