---
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import linda from "@assets/linda.webp";
import { Image } from "astro:assets";
import SocialsGrid from "@components/SocialsGrid.astro";
import ContactEmail from "@components/ContactEmail.astro";
---

<MainLayout metadata={DEFAULT_METADATA}>
  <section class="intro">
    <h1>Hi, I'm so pleased to meet you! <br /> I'm Linda.</h1>
    <div class="intro-photo">
      <div class="photo-bg"></div>
      <Image
        priority={true}
        src={linda}
        alt="A woman with dark brown and purple hair in a gray tank top offers you a friendly and knowing smile."
        layout="constrained"
        class="photo"
      />
    </div>
    <div class="intro-blurb">
      <p>
        I'm a software engineer with an artistic background and a deep love for
        games and puzzles. I build friendly, accessible designs and modern,
        maintainable JavaScript logic, backed with stellar communication and
        organization skills.
      </p>

      <div class="contact-cta">
        <ContactEmail ctaTitle="Let's build something together" />
        <SocialsGrid />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .intro {
    container-type: inline-size;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;

    @media (min-width: 1024px) {
      & {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }

  .intro h1 {
    font-family: var(--accent-font);
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.2;

    @media (min-width: 1024px) {
      & {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
      }
    }
  }

  .intro-photo {
    display: grid;
    justify-content: center;

    @media (min-width: 1024px) {
      & {
        grid-column: 2;
        grid-row: 1 / span 2;
      }
    }
  }

  .photo {
    width: 60cqw;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;

    @media screen and (min-width: 768px) {
      & {
        width: 40cqw;
      }
    }

    @media screen and (min-width: 1024px) {
      & {
        width: 30cqw;
      }
    }
  }

  .photo-bg {
    border-radius: 46% 54% 90% 10% / 63% 52% 48% 37%;
    background: var(--gradient);
    grid-column: 1;
    grid-row: 1;
    margin-top: 3rem;
  }

  .intro-blurb {
    width: 85cqw;
    display: grid;
    gap: 1rem;

    @media (min-width: 1024px) {
      & {
        width: 55cqw;
        grid-column: 1;
        grid-row: 2;
      }
    }
  }

  .contact-cta {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
  }
</style>
