---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Linda Thompson</h1>
  <p>Friendly & resilient front-end web dev, agy 1289</p>
  <div class="wrapper">
    <div class="one">one</div>
    <div class="two">two</div>
  </div>
</MainLayout>

<style>
  
  .wrapper {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .one,
  .two {
    text-align: center;
    color: var(--text);
    font-family: var(--body-font);
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
  }
  .one {
    background-color: var(--secondary);
  }
  .two {
    background-color: var(--accent);
  }
</style>
