---
import HireCTA from "@components/HireCTA.astro";
import PostPreviewCard from "@components/PostPreviewCard.astro";
import ProjectPreviewCard from "@components/ProjectPreviewCard.astro";
import SocialsGrid from "@components/SocialsGrid.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});

const featuredPosts = await getCollection("blog", ({ data }) => {
  return data.featured === true;
});
---

<MainLayout metadata={DEFAULT_METADATA}>
  <section id="intro">
    <Icon name="script-name" title="Linda Thompson" />
    <p class="subtitle gradient-text">
      Software engineer, career changer, & team builder
    </p>
    <div class="social-wrapper">
      <SocialsGrid />
    </div>
    <HireCTA />
  </section>
  <section id="projects">
    <h2 class="section-title">Projects I've Crafted</h2>
    <div class="project-cards">
      {
        featuredProjects
          .sort((a, b) => a.data.order - b.data.order)
          .map((project) => <ProjectPreviewCard project={project} />)
      }
    </div>
    <div class="page-link">
      <a href="/projects" class="gradient-text">More of my work</a>
    </div>
  </section>
  <section id="posts">
    <h2 class="section-title">Words I've Shared</h2>
    <div class="post-blurbs">
      {
        featuredPosts
          .sort(
            (a, b) =>
              new Date(b.data.publishedDate).valueOf() -
              new Date(a.data.publishedDate).valueOf()
          )
          .map((post) => <PostPreviewCard blogBit={post} />)
      }
    </div>
    <div class="page-link">
      <a href="/blog" class="gradient-text">See all my posts</a>
    </div>
  </section>
</MainLayout>

<style>
  section {
    padding: var(--s16) 0 calc(var(--s80) * 1.75);
  }

  #intro {
    padding-top: calc(var(--s40) * 1.75);
  }

  [astro-icon="script-name"] {
    color: var(--text-main);
    margin: 0.5rem auto;
    max-width: 95%;
  }

  .subtitle {
    font-family: var(--serif-font);
    font-size: var(--h5);
    margin: -1rem auto 1rem;
    text-align: center;
    width: 25rem;
  }

  .section-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: calc(var(--h2) * 1.25);
  }

  .page-link {
    text-align: center;
  }

  .page-link a {
    font-size: var(--b-lg);
  }

  .social-wrapper {
    margin: 3rem auto;
    width: 40%;
  }

  .project-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* justify-items: center; */
    margin: 0 auto;
    padding: 0.5rem 0.25rem 0.75rem;
    width: 75%;
  }

  #posts {
    margin-bottom: 1rem;
  }

  .post-blurbs {
    display: grid;
    gap: 2rem;
    margin: 0.5rem auto;
    width: 50%;
  }

  /* Mobile */
  @media (max-width: 520px) {
    .subtitle {
      font-size: var(--h6);
      max-width: 85%;
      width: auto;
    }

    .section-title {
      font-size: var(--h3);
    }

    .page-link {
      margin: 0 auto;
      width: 70%;
    }

    .social-wrapper {
      width: 85%;
    }

    .project-cards {
      grid-template-columns: 1fr;
      /* justify-items: stretch; */
      width: 100%;
    }

    .post-blurbs {
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    [astro-icon="script-name"] {
      max-width: 50%;
    }
  }

  /* Large monitors */
  @media (min-width: 1280px) {
    .post-blurbs {
      width: 40%;
    }
  }
</style>
