---
import '@fontsource/fira-sans';
import '@fontsource/allura';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Linda Thompson</h1>
    <p>Friendly & resilient front-end web dev, agy 1289</p>
	</body>
</html>

<style>
  h1 {
    font-family: 'Allura', cursive;
    font-size: 80px;
    text-align: center;
  }
  p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-align: center;

  }
</style>