---
import BaseLayout from "@layouts/BaseLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
---

<BaseLayout metadata={DEFAULT_METADATA}>
  <section class="splash">
    <p class="subtitle">Hey there! I'm</p>
    <h1>Linda Thompson</h1>
    <p>Elevating teams through intentional design & inclusive code.</p>
    <p>Software sorceress, mother of pets, & cozy gamer.</p>
  </section>
</BaseLayout>
