---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="title">Linda Thompson</h1>
  <p class="subtitle gradient-text">Career changer building for the web & bringing teams together</p>
</MainLayout>

<style>
  .title {
    margin-top: 4rem;
    font-size: 6rem;
    text-align: center;
  }

  .subtitle {
    vertical-align: center;
    text-align: center;
    font-size: 1.6rem;
    width: 27rem;
    margin: 0 auto;
  }
</style>
