---
import BaseLayout from "@layouts/BaseLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
---

<BaseLayout metadata={DEFAULT_METADATA}>
  <h1>Operation Clean Slate</h1>
</BaseLayout>
