---
import CardWrapper from "@components/CardWrapper.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
---

<MainLayout metadata={DEFAULT_METADATA}>
  <h1>Test Page!</h1>

  <CardWrapper>
    <h2>Hellooooooooooo</h2>
  </CardWrapper>
</MainLayout>

<style></style>
