---

---

<div class="intro">
  <h1>Welcome to the blog!</h1>
  <p>
    Here you'll find posts on what I'm <a href="/notes"
      class="learn">learning</a
    >, things I find <span class="interest">interesting</span>, and my <span
      class="exp">experiences</span
    > creating my career path as a software engineer.
  </p>
  <p>
    Prefer to read through RSS? <a href="/rss.xml" class="rss"
      >Here's my feed!</a>
  </p>
</div>

<style>
  .intro {
    width: 55%;
    margin: 0 auto 3rem;
    text-align: center;
    font-size: 1.1rem;
  }

  .intro p {
    margin-bottom: 1.5rem;
  }

  .rss {
    color: var(--green);
  }

  .learn, .interest, .exp {
    color: var(--text-main);
  }

  .learn {
    text-decoration: none;
    cursor: text;
  }

  .learn:hover {
    color: var(--purple);
  }

  .interest:hover {
    color: var(--blue);
  }

  .exp:hover {
    color: var(--pink);
  }
</style>
