---
interface Props {
  isBlog: boolean;
}

const { isBlog = true } = Astro.props;
---

<div class="intro">
  {
    isBlog ? (
      <Fragment>
        <h1>Writing Showcase</h1>
        <p>
          Prefer to read through RSS? <a href="/rss.xml">Here's my feed!</a>
        </p>
      </Fragment>
    ) : (
      <Fragment>
        <h1>Notes</h1>
        <p>Saved snippets and coursework notes.</p>
      </Fragment>
    )
  }
</div>

<style>
  .intro {
    margin: 0 auto 2rem;
    text-align: center;
    text-wrap: balance;
  }
</style>
