---

---

<div class="intro">
  <h2>Welcome to the blog!</h2>
  <p>
    Here you'll find posts on what I'm <a href="/notes" class="learn"
      >learning</a
    >, things I find interesting, and my experiences creating my career path as
    a software engineer.
  </p>
  <p class="rss">
    Prefer to read through RSS? <a href="/rss.xml" class="gradient-text"
      >Here's my feed!</a
    >
  </p>
</div>

<style>
  .intro {
    width: 55%;
    margin: 0 auto 1.5rem;
    text-align: center;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .learn {
    color: var(--text-main);
    text-decoration: none;
    cursor: text;
  }

  .learn:hover {
    color: var(--purple);
  }

  .rss {
    margin: 0 auto 1.5rem;
    width: 92%;
  }

  @media (max-width: 520px) {
    .intro {
      width: 95%;
    }

    .rss {
      width: 80%;
    }
  }
</style>
