---
interface Props {
  isBlog: boolean;
}

const { isBlog = true } = Astro.props;
---

<div class="intro">
  {
    isBlog ? (
      <Fragment>
        <h2>Linda's Blog</h2>
        <p>
          Musings on code, life,{" "}
          <a href="/notes" class="learn">
            growth,
          </a>
          and lived experiences
        </p>
        <p class="rss">
          Prefer to read through RSS?{" "}
          <a href="/rss.xml" class="gradient-text">
            Here's my feed!
          </a>
        </p>
      </Fragment>
    ) : (
      <Fragment>
        <h2>Linda's Notes</h2>
        <p>Saved snippets and coursework notes</p>
      </Fragment>
    )
  }
</div>

<style>
  .intro {
    width: 95%;
    margin: 0 auto 2rem;
    text-align: center;
    text-wrap: balance;
  }

  p {
    font-style: italic;
    margin-bottom: 0.25rem;
  }

  .learn {
    color: var(--text-main);
    text-decoration: none;
    cursor: text;
  }

  .learn:hover {
    color: var(--purple);
  }

  @media (min-width: 768px) {
    .intro {
      width: 50%;
    }
  }
</style>
