<div class="wrapper">
  <div class="one">Box 1</div>
  <div class="two">Box 2</div>
</div>

<style>
  .wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
  }

  .one,
  .two {
    width: 200px;
    height: 200px;
    padding: 5px;
    text-align: center;
    color: var(--text-flip);
  }

  .one {
    background: var(--accent);
  }

  .two {
    background: var(--highlight);
  }
</style>
