---
---

<div transition:name="footer" class="footer-container">
  <div class="divider shadow-over"></div>
  <footer>
    <h2 class="footer-title">Hi there!</h2>
    <div class="footer-grid">
    <p>
      If you'd like to reach out, try my email:
      <span class="email gradient-text"> hello@lindakat.com</span>
    </p>
    <p>Or you can find me online most anywhere <span class="handle">@lindakatcodes</span>. See you around!</p>
  </div>
  </footer>
</div>

<style>
  .footer-container {
    height: var(--footer-height);
  }

  footer {
    padding: 0.25rem 0.5rem;
  }

  .footer-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .footer-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }

  p {
    text-align: center;
    font-size: 1.1rem;
  }

  .email {
    cursor: pointer;
    text-decoration: 2px solid underline var(--blue);
    transition: background 0.3s ease-in-out;
    background-image: none;
    background-color: var(--pink);
  }

  .email:hover {
    text-decoration-style: double;
    background-image: var(--gradient);
  }

  .handle {
    color: var(--purple);
  }
</style>

<script>
  const email = document.querySelector(".email");
  email?.addEventListener("click", () => {
    navigator.clipboard.writeText("hello@lindakat.com").then(
      () => {
        console.log("Successfully copied text!");
      },
      () => {
        console.error("Sorry, could not copy text");
      }
    );
  });
</script>
