---
import SocialsGrid from "./SocialsGrid.astro";
import ContactEmail from "./ContactEmail.astro";
---

<footer transition:name="footer">
  <div class="divider shadow-over"></div>
  <div class="contact-wrapper">
    <ContactEmail />
    <div class="contact-socials">
      <SocialsGrid />
    </div>
  </div>
</footer>

<style>
  footer {
    container-type: inline-size;
    margin-bottom: 1.5rem;
  }

  .contact-wrapper {
    @media (min-width: 1024px) {
      & {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    }
  }

  .contact-socials {
    width: 75cqw;
    margin: 0 auto;

    @media (min-width: 520px) and (max-width: 1024px) {
      & {
        width: 50cqw;
      }
    }

    @media (min-width: 1024px) {
      & {
        width: 30cqw;
      }
    }
  }
</style>
