---
import SocialsGrid from "./SocialsGrid.astro";
---

<footer transition:name="footer">
  <div class="divider shadow-over"></div>
  <div class="email-outro">
    <p class="hey">Hey there!</p>
    <p>Thanks for checking out my site!</p>
    <p>
      Reach out if you'd like to get in touch: <br />
      <span class="email gradient-text"> hello@lindakat.com</span>
    </p>
  </div>
  <div class="footer-socials">
    <SocialsGrid />
  </div>
  <p class="copyright">© 2020 - 2024 Linda Thompson</p>
</footer>

<style>
  footer {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "divider divider"
      "outro socials"
      "copyright copyright";
  }

  .divider {
    grid-area: divider;
    width: 100%;
  }

  .email-outro {
    grid-area: outro;
    margin-left: var(--s24);
  }

  .email-outro .hey {
    color: var(--blue);
    font-family: var(--cursive-font);
    font-size: var(--h5);
    margin-bottom: initial;
  }

  .email-outro p {
    margin-bottom: 0.25rem;
    margin-top: 0;
  }

  .email {
    background-color: var(--purple);
    background-image: none;
    cursor: copy;
    font-size: 1.1rem;
    text-decoration: underline solid var(--blue);
    transition: background 0.3s ease-in-out;
  }

  .email:hover {
    background-image: var(--gradient);
    text-decoration-style: double;
  }

  .footer-socials {
    grid-area: socials;
    margin-right: var(--s24);
  }

  .copyright {
    font-size: 0.8rem;
    grid-area: copyright;
    margin-bottom: var(--s8);
    text-align: center;
  }

  @media (max-width: 520px) {
    footer {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr 1fr auto;
      grid-template-areas:
        "divider"
        "outro"
        "socials"
        "copyright";
    }

    .email-outro {
      font-size: 0.9rem;
      margin-left: 0;
      text-align: center;
    }

    .email {
      font-size: 1rem;
    }

    .footer-socials {
      margin: 0 auto;
      width: 85%;
    }
  }

  @media (min-width: 520px) and (max-width: 1024px) {
    footer {
      grid-template-columns: 0.75fr 1fr;
    }
  }
</style>

<script>
  const email = document.querySelector(".email");
  email?.addEventListener("click", () => {
    navigator.clipboard.writeText("hello@lindakat.com").then(
      () => {
        console.log("Successfully copied text!");
      },
      () => {
        console.error("Sorry, could not copy text");
      }
    );
  });
</script>
