---
import { Icon } from "astro-icon/components";
import SocialsGrid from "./SocialsGrid.astro";
import { EMAIL } from "@util/constants";
---

<footer transition:name="footer">
  <div class="divider shadow-over"></div>
  <div class="contact-wrapper">
    <div class="contact-details">
      <p class="contact-title gradient-text">Wanna chat?</p>
      <p class="contact-email">
        <Icon name="email" />
        Email:
        <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
      </p>
    </div>
    <div class="contact-socials">
      <SocialsGrid />
    </div>
  </div>
</footer>

<style>
  footer {
    container-type: inline-size;
    margin-bottom: 1.5rem;
  }

  .contact-wrapper {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  .contact-title {
    font-size: var(--h4);
    font-family: var(--accent-font);
    text-align: center;
  }

  .contact-email {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--b-lg);
    margin: 0 auto 0.5rem;
    width: fit-content;
  }

  .contact-email svg {
    display: inline-block;
    width: 1.125rem;
  }

  .contact-socials {
    width: 75cqw;
    margin: 0 auto;

    @media (min-width: 520px) and (max-width: 1024px) {
      width: 50cqw;
    }

    @media (min-width: 1024px) {
      width: 30cqw;
    }
  }
</style>
