---
import ThemeToggleSwitch from "./ThemeToggleSwitch.astro";
const activePath = Astro.url.pathname;
---

<header transition:name="header">
  <nav>
    <a
      href="/"
      class:list={["gradient-text link home", { active: activePath === "/" }]}
    >
      LindaKat
    </a>
    <a
      href="/projects"
      class:list={[
        "link projects",
        { "projects-active": activePath === "/projects" },
      ]}>Projects</a
    >
    <a
      href="/blog"
      class:list={["link blog", { "blog-active": activePath === "/blog" }]}
      >Blog</a
    >
    <ThemeToggleSwitch />
  </nav>
  <div class="divider shadow-under"></div>
</header>

<style>
  header {
    background: var(--background);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  nav {
    width: calc(100dvw - 1rem);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.25rem;
  }

  .link {
    color: var(--text-main);
    font-family: var(--accent-font);
    font-size: var(--h4);
    text-decoration: none;
    text-shadow: -1px 1px 3px var(--bg-shadow);
    text-underline-offset: 0.5rem;
    transition: all 0.2s linear;
  }

  .link:first-of-type {
    margin-left: 0.5rem;
  }

  .link:hover,
  .link:focus {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  .home {
    flex-grow: 1;
    background-image: var(--gradient);
    text-shadow: none;
    background-size: 8rem;
  }

  .projects:hover,
  .projects:focus {
    color: var(--purple);
    text-decoration-color: var(--blue);
  }

  .projects-active {
    color: var(--purple);
  }

  .blog:hover,
  .blog:focus {
    color: var(--pink);
    text-decoration-color: var(--green);
  }

  .blog-active {
    color: var(--pink);
  }
</style>
