---
import ThemeToggle from "@components/ToggleThemeSwitch.astro";
const activePath = Astro.url.pathname;
---

<header>
  <nav transition:name="header">
    <a
      class:list={["gradient-text link home", { active: activePath === "/" }]}
      href="/"
    >
      LT
    </a>
    <span class="spacer"></span>
    <a
      class:list={[
        "link projects",
        { "projects-active": activePath === "/projects" },
      ]}
      href="/projects">Projects</a
    >
    <a
      class:list={["link blog", { "blog-active": activePath === "/blog" }]}
      href="/blog">Blog</a
    >
    <a
      class:list={["link about", { "about-active": activePath === "/about" }]}
      href="/about">About</a
    >
    <ThemeToggle />
  </nav>
  <div class="divider shadow-under"></div>
</header>

<style>
  header {
    background: var(--background);
    height: var(--header-height);
    position: sticky;
    top: 0;
    width: 100dvw;
    z-index: 2;
  }

  nav {
    align-items: center;
    display: flex;
    gap: var(--md);
    margin: 0 auto;
    width: calc(100% - var(--xl));
  }

  .link {
    border-bottom: thick solid;
    border-bottom-color: transparent;
    color: var(--text-main);
    font-family: var(--cursive-font);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.07rem;
    padding: 0 var(--xs);
    text-decoration: none;
    text-shadow: -1px 1px 3px var(--bg-shadow);
    transition:
      border-bottom-color 0.2s linear,
      color 0.2s linear;
  }

  .spacer {
    flex-grow: 1;
  }

  .home {
    font-family: var(--cursive-font);
    font-size: 2.25rem;
    text-shadow: none;
    width: 4.5rem;
  }

  .projects:hover,
  .projects:focus {
    border-bottom-color: var(--purple);
    color: var(--purple);
  }

  .projects-active {
    color: var(--purple);
  }

  .blog:hover,
  .blog:focus {
    border-bottom-color: var(--blue);
    color: var(--blue);
  }

  .blog-active {
    color: var(--blue);
  }

  .about:hover,
  .about:focus {
    border-bottom-color: var(--pink);
    color: var(--pink);
  }

  .about-active {
    color: var(--pink);
  }
</style>
