---
import ThemeToggleSwitch from "./ThemeToggleSwitch.astro";
const activePath = Astro.url.pathname;
---

<header transition:name="header">
  <nav>
    <span class="home">
      <a
        class:list={["gradient-text link", { active: activePath === "/" }]}
        href="/"
      >
        LT
      </a>
    </span>
    <a
      class:list={[
        "link projects",
        { "projects-active": activePath === "/projects" },
      ]}
      href="/projects">Projects</a
    >
    <a
      class:list={["link blog", { "blog-active": activePath === "/blog" }]}
      href="/blog">Blog</a
    >
    <a
      class:list={["link about", { "about-active": activePath === "/about" }]}
      href="/about">About</a
    >
    <ThemeToggleSwitch />
  </nav>
  <div class="divider shadow-under"></div>
</header>

<style>
  header {
    background: var(--background);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  nav {
    width: calc(100dvw - var(--s24));
    height: var(--header-height);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.25rem;
  }

  .link {
    color: var(--text-main);
    font-family: var(--accent-font);
    font-size: var(--h5);
    text-decoration: none;
    text-shadow: -1px 1px 3px var(--bg-shadow);
    text-underline-offset: 8px;
    transition: all 0.2s linear;
  }

  .link:hover,
  .link:focus {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  .home {
    flex-grow: 1;
  }

  .home a {
    padding: 0 var(--s16) 0 var(--s8);
    background-image: var(--gradient);
    background-size: 4rem;
    font-size: var(--h3);
    line-height: 1.25;
    text-shadow: none;
  }

  .projects:hover,
  .projects:focus {
    color: var(--purple);
    text-decoration-color: var(--purple);
  }

  .projects-active {
    color: var(--purple);
  }

  .blog:hover,
  .blog:focus {
    color: var(--blue);
    text-decoration-color: var(--blue);
  }

  .blog-active {
    color: var(--blue);
  }

  .about:hover,
  .about:focus {
    color: var(--pink);
    text-decoration-color: var(--pink);
  }

  .about-active {
    color: var(--pink);
  }

  @media (max-width: 520px) {
    .link {
      font-size: var(--h6);
    }

    .home {
      font-size: var(--h4);
    }
  }
</style>
