---
import ThemeToggleSwitch from "./ThemeToggleSwitch.astro";
const activePath = Astro.url.pathname;
---

<header transition:name="header">
  <nav>
    <a
      class:list={["gradient-text link home", { active: activePath === "/" }]}
      href="/"
    >
      LT
    </a>
    <a
      class:list={[
        "link projects",
        { "projects-active": activePath === "/projects" },
      ]}
      href="/projects">Projects</a
    >
    <a
      class:list={["link blog", { "blog-active": activePath === "/blog" }]}
      href="/blog">Blog</a
    >
    <a
      class:list={["link about", { "about-active": activePath === "/about" }]}
      href="/about">About</a
    >
    <ThemeToggleSwitch />
  </nav>
  <div class="divider shadow-under"></div>
</header>

<style>
  header {
    background: var(--background);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  nav {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    height: var(--header-height);
    justify-content: flex-end;
    margin: 0 auto var(--s8);
    width: calc(100dvw - var(--s24));
  }

  .link {
    border-bottom: thick solid;
    border-bottom-color: transparent;
    color: var(--text-main);
    font-family: var(--cursive-font);
    font-size: var(--h5);
    padding: 0.5rem 0.5rem 0;
    text-decoration: none;
    text-shadow: -1px 1px 3px var(--bg-shadow);
    transition:
      all 0.2s linear
  }

  .home {
    flex-grow: 1;
    font-family: var(--cursive-font);
    font-size: var(--h2);
    justify-self: flex-start;
    margin-left: 2px;
    text-shadow: none;
  }

  .projects:hover,
  .projects:focus {
    border-bottom-color: var(--purple);
    color: var(--purple);
  }

  .projects-active {
    color: var(--purple);
  }

  .blog:hover,
  .blog:focus {
    border-bottom-color: var(--blue);
    color: var(--blue);
  }

  .blog-active {
    color: var(--blue);
  }

  .about:hover,
  .about:focus {
    border-bottom-color: var(--pink);
    color: var(--pink);
  }

  .about-active {
    color: var(--pink);
  }

  @media (max-width: 520px) {
    nav {
      gap: 0.5rem;
    }

    .link {
      font-size: 1.2rem;
    }

    .home {
      font-size: 2.5rem;
      margin-left: 0.25rem;
      width: 3.5rem;
    }
  }
</style>
