---
import type { CollectionEntry } from "astro:content";

interface Props {
  praise: CollectionEntry<"praises">;
}

const { praise } = Astro.props;
const praiseData = praise.data;
---

<div class="wrapper">
  <div class="quote-bg">
    {praiseData.featured ? (
      <p>{praiseData.quote[0]}</p>
    ) : (
      praiseData.quote.map((piece => <p>{piece}</p>))
    )}
  </div>
    <p class="name">{praiseData.name}</p>
    <a href={praiseData.srcLink}>Honest it's real</a>
</div>

<style>
  .wrapper {
    width: 90%;
    padding: 0.5rem;
    background: var(--bg-shadow);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .quote-bg {
    padding: 1rem;
    text-wrap: balance;
  }
</style>
