---
import { Icon } from "astro-icon/components";

export type socialLink = {
  displayName: String;
  iconName: String;
  link: URL["href"];
};

const socialLinks: socialLink[] = [
  {
    displayName: "GitHub",
    iconName: "github",
    link: "https://github.com/lindakatcodes",
  },
  {
    displayName: "Bluesky",
    iconName: "bluesky",
    link: "https://bsky.app/profile/lindakat.com",
  },
  {
    displayName: "LinkedIn",
    iconName: "linkedin",
    link: "https://www.linkedin.com/in/lindakatcodes/",
  },
  {
    displayName: "Resume",
    iconName: "file-lines-regular",
    link: "https://drive.google.com/file/d/15yXRMYir3tYiY2yAJJQl9wJVUITrAeym/view?usp=sharing",
  },
];
---

<section class="socials">
  {
    socialLinks.map((link) => (
      <a
        class:list={["social-link", link.displayName.toLowerCase()]}
        href={link.link}
      >
        <Icon name={link.iconName} />
        <p>{link.displayName}</p>
      </a>
    ))
  }
</section>

<style>
  .socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    container: socials / inline-size;
  }

  .social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration-color: transparent;
  }

  .social-link:hover {
    text-decoration-style: solid;
  }

  .social-link svg {
    color: var(--text-main);
    inline-size: 1.75rem;
    block-size: 1.75rem;
  }

  .social-link p {
    color: var(--text-main);
    font-size: var(--font-size-xs);
    margin-top: 0.125rem;
  }

  .resume:hover {
    text-decoration-color: var(--pink);

    & svg {
      color: var(--pink);
    }
    & p {
      color: var(--pink);
    }
  }

  .github:hover {
    text-decoration-color: var(--green);

    & svg {
      color: var(--green);
    }
    & p {
      color: var(--green);
    }
  }

  .linkedin:hover {
    text-decoration-color: var(--purple);

    & svg {
      color: var(--purple);
    }
    & p {
      color: var(--purple);
    }
  }

  .bluesky:hover {
    text-decoration-color: var(--blue);

    & svg {
      color: var(--blue);
    }
    & p {
      color: var(--blue);
    }
  }

  @container socials (max-width: 48rem) {
    .socials {
      justify-content: space-between;
      gap: 0.75rem;
    }

    .social-link p {
      font-size: 0.7rem;
    }
  }
</style>
