---
import { Icon } from "astro-icon/components";

export type socialLink = {
  displayName: String;
  iconName: String;
  link: URL["href"];
};

const socialLinks: socialLink[] = [
  {
    displayName: "LinkedIn",
    iconName: "linkedin",
    link: "https://www.linkedin.com/in/lindakatcodes/",
  },
  {
    displayName: "GitHub",
    iconName: "github",
    link: "https://github.com/lindakatcodes",
  },
  {
    displayName: "Resume",
    iconName: "file-lines-regular",
    link: "https://drive.google.com/file/d/15yXRMYir3tYiY2yAJJQl9wJVUITrAeym/view?usp=sharing",
  },
];
---

<section class="socials">
  {
    socialLinks.map((link) => (
      <a
        class:list={["social-link", link.displayName.toLowerCase()]}
        href={link.link}
      >
        <Icon name={link.iconName} />
        <p>{link.displayName}</p>
      </a>
    ))
  }
</section>

<style>
  .socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: baseline;
    gap: 0.75rem;
  }

  .social-link {
    text-decoration-color: transparent;
    margin-top: 0.5rem;
  }

  .social-link svg {
    margin: 0 auto;
  }

  .social-link p {
    font-size: var(--b-sm);
  }

  .linkedin svg {
    width: 1.25rem;
  }

  .linkedin:hover {
    text-decoration-color: var(--blue);

    & svg {
      color: var(--blue);
    }
    & p {
      color: var(--blue);
    }
  }

  .github svg {
    width: 1.375rem;
  }

  .github:hover {
    text-decoration-color: var(--green);

    & svg {
      color: var(--green);
    }
    & p {
      color: var(--green);
    }
  }

  .resume svg {
    width: 1.375rem;
    height: 1.375rem;
  }

  .resume:hover {
    text-decoration-color: var(--pink);

    & svg {
      color: var(--pink);
    }
    & p {
      color: var(--pink);
    }
  }
</style>
