---
import Icon from "astro-icon";

export type socialLink = {
  displayName: String;
  iconName: String;
  link: URL["href"];
};

const socialLinks: socialLink[] = [
  {
    displayName: "Mastodon",
    iconName: "mastodon",
    link: "https://hachyderm.io/@lindakatcodes",
  },
  {
    displayName: "X-Twitter",
    iconName: "x-twitter",
    link: "https://twitter.com/lindakatcodes",
  },
  {
    displayName: "GitHub",
    iconName: "github",
    link: "https://github.com/lindakatcodes",
  },
  {
    displayName: "LinkedIn",
    iconName: "linkedin",
    link: "https://www.linkedin.com/in/lindakatcodes/",
  },
  {
    displayName: "Resume",
    iconName: "file-lines-regular",
    link: "https://drive.google.com/file/d/12GcNF-iFYKQQV7rB1yR0bqRWUFONv8Ds/view?usp=sharing",
  },
];
---

<section class="socials">
  {
    socialLinks.map((link) => (
      <a
        class:list={["social-link", link.displayName.toLowerCase()]}
        href={link.link}
      >
        <Icon name={link.iconName} />
        <p>{link.displayName}</p>
      </a>
    ))
  }
</section>

<style>
  .socials {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  .social-link {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration-color: transparent;
  }

  .social-link svg {
    fill: var(--text-main);
    height: 36px;
    width: auto;
  }

  .social-link p {
    color: var(--text-main);
    font-size: 0.7rem;
    margin-top: 0.125rem;
  }

  .resume:hover {
    text-decoration-color: var(--purple);

    & svg {
      fill: var(--purple);
    }
    & p {
      color: var(--purple);
    }
  }

  .github:hover {
    text-decoration-color: var(--green);

    & svg {
      fill: var(--green);
    }
    & p {
      color: var(--green);
    }
  }

  .linkedin:hover {
    text-decoration-color: var(--blue);

    & svg {
      fill: var(--blue);
    }
    & p {
      color: var(--blue);
    }
  }

  .mastodon:hover {
    text-decoration-color: var(--purple);

    & svg {
      fill: var(--purple);
    }
    & p {
      color: var(--purple);
    }
  }

  .x-twitter:hover {
    text-decoration-color: var(--pink);

    & svg {
      fill: var(--pink);
    }
    & p {
      color: var(--pink);
    }
  }

  @media (max-width: 520px) {
    .socials {
      justify-content: space-between;
    }

    .social-link svg {
      height: 32px;
    }

    .social-link p {
      font-size: 0.6rem;
    }
  }
</style>
