---
import type { MarkdownHeading } from "astro";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div class="toc-wrapper">
  {
    headings.map((heading) => (
      <a
        href={`#${heading.slug}`}
        class={`depth-${heading.depth} gradient-text`}
      >
        {heading.text}
      </a>
    ))
  }
</div>

<style>
  .toc-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    position: sticky;
    top: calc(var(--header-height) + 2rem);
    will-change: transform;
  }

  .depth-3 {
    padding-left: var(--s16);
  }

  .depth-4 {
    padding-left: var(--s32);
  }
</style>
