---
import type { MarkdownHeading } from "astro";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div class="toc-wrapper">
  <p class="title">Jump to a section:</p>
  <div class="divider"></div>
  {
    headings.map((heading) => (
      <a href={`#${heading.slug}`} class={`depth-${heading.depth}`}>
        {heading.text}
      </a>
    ))
  }
</div>

<style>
  .toc-wrapper {
    container-type: inline-size;
    max-block-size: 80dvh;
    margin: 0 auto;
    overflow-y: scroll;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr;
    justify-items: start;
    position: relative;
    will-change: transform;
    scrollbar-color: var(--bg-shadow) var(--background);
    padding-left: 0.5rem;
    padding: 1rem;

    @media (min-width: 1024px) {
      & {
        position: sticky;
        top: 4.375rem;
      }
    }
  }

  .toc-wrapper a {
    width: 95cqw;
    text-wrap: pretty;
    text-decoration: none;
  }

  .depth-3 {
    padding-left: 1rem;
  }

  .depth-4 {
    padding-left: 2rem;
  }

  .divider {
    width: 100cqw;
    height: 2px;
    margin: 0.25rem auto;
  }
</style>
