---
import type { MarkdownHeading } from "astro";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div class="toc-wrapper">
  <p class="title">Jump to a section:</p>
  <div class="divider"></div>
  {
    headings.map((heading) => (
      <a href={`#${heading.slug}`} class={`depth-${heading.depth}`}>
        {heading.text}
      </a>
    ))
  }
</div>

<style>
  .toc-wrapper {
    max-block-size: 80dvh;
    max-width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr;
    justify-items: start;
    position: relative;
    will-change: transform;
    scrollbar-color: var(--bg-shadow) var(--background);
    padding-left: 0.5rem;
    border: 2px solid var(--pink);
    border-radius: 5px;
    padding: 1rem;
  }

  .toc-wrapper a {
    width: 95%;
    text-wrap: pretty;
    text-decoration: none;
  }

  @media (min-width: 1024px) {
    .toc-wrapper {
      position: sticky;
      top: calc(var(--header-height) + 2rem);
    }
  }

  .depth-3 {
    padding-left: var(--s16);
  }

  .depth-4 {
    padding-left: var(--s32);
  }

  .divider {
    width: 100%;
    height: 2px;
  }
</style>
