---
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
  const projectCaseStudies = await getCollection("projects", ({ data }) => {
    return data.hasCaseStudy === true;
  });
  return projectCaseStudies.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout metadata={DEFAULT_METADATA}>
  <Content />
  <a href="/projects" class="back-link">← Back to Projects</a>
</MainLayout>

<style>
  .back-link {
    color: var(--pink);
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2.5rem 0 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: text-decoration 0.3s;
    width: 100%;
  }

  .back-link:hover {
    text-decoration: underline double var(--blue);
  }
</style>
