---
import ProjectPreviewCard from "@components/ProjectPreviewCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants.ts";
import { getCollection } from "astro:content";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
}).then((projects) =>
  projects.sort(
    (a, b) =>
      b.data.lastPublishDate.getTime() - a.data.lastPublishDate.getTime()
  )
);

const otherProjects = await getCollection("projects", ({ data }) => {
  return data.featured !== true;
}).then((projects) =>
  projects.sort(
    (a, b) =>
      b.data.lastPublishDate.getTime() - a.data.lastPublishDate.getTime()
  )
);

const allProjects = [...featuredProjects, ...otherProjects];
---

<MainLayout metadata={DEFAULT_METADATA}>
  <h1>Projects Showcase</h1>
  <div class="project-cards">
    {
      allProjects.map((project) => (
        <ProjectPreviewCard project={project} aboveFold={true} />
      ))
    }
  </div>
</MainLayout>

<style>
  h1 {
    text-align: center;
  }

  .project-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: 768px) {
      & {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media (min-width: 1640px) {
      & {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
</style>

<style is:global>
  .project-cards > div {
    @media (min-width: 768px) {
      & {
        grid-area: span 1 / span 2;
      }
    }
  }

  .project-cards > div:last-child:nth-child(odd) {
    @media (min-width: 768px) {
      & {
        grid-column: 2 / span 2;
      }
    }

    @media (min-width: 1640px) {
      & {
        grid-column: 3 / span 2;
      }
    }
  }
</style>
