---
import ProjectPreviewCard from "@components/ProjectPreviewCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants.ts";
import { getCollection } from "astro:content";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});

const otherProjects = await getCollection("projects", ({ data }) => {
  return data.featured !== true;
});
---

<MainLayout metadata={DEFAULT_METADATA}>
  <h2>Featured Projects</h2>
  <div class="featured-cards">
    {
      featuredProjects
        .sort((a, b) => a.data.order - b.data.order)
        .map((project) => (
          <ProjectPreviewCard project={project} aboveFold={true} />
        ))
    }
  </div>
  <h3>Other Fun Projects</h3>
  <div class="other-cards">
    {
      otherProjects
        .sort((a, b) => a.data.order - b.data.order)
        .map((project) => <ProjectPreviewCard project={project} />)
    }
  </div>
</MainLayout>

<style>
  h2 {
    text-align: center;
  }

  h3 {
    font-family: var(--accent-font);
    font-weight: normal;
    text-align: center;
  }

  .featured-cards,
  .other-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s40);
    margin: 0.5rem auto 2rem;
    max-inline-size: 90%;
  }

  @media (min-width: 520px) {
    .featured-cards {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .other-cards {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }
</style>
