---
import ProjectPreviewCard from "@components/ProjectPreviewCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants.ts";
import { getCollection } from "astro:content";

const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});

const otherProjects = await getCollection("projects", ({ data }) => {
  return data.featured !== true;
});
---

<MainLayout metadata={DEFAULT_METADATA}>
  <h2>Featured Projects</h2>
  <div class="projects-wrapper">
    {
      featuredProjects
        .sort((a, b) => a.data.order - b.data.order)
        .map((project) => <ProjectPreviewCard project={project} />)
    }
  </div>
  <h3>Other Fun Projects</h3>
  <div class="projects-wrapper">
    {
      otherProjects
        .sort((a, b) => a.data.order - b.data.order)
        .map((project) => <ProjectPreviewCard project={project} />)
    }
  </div>
</MainLayout>

<style>
  h2,
  h3 {
    text-align: center;
  }

  .projects-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    margin: 0.25rem auto;
    padding: 0.25rem 0.125rem 0.75rem;
  }

  @media (max-width: 520px) {
    .projects-wrapper {
      gap: 30px 0;
      grid-template-columns: 1fr;
      margin: 0.25rem 0;
      padding-bottom: 0.25rem;
      width: auto;
    }
  }

  @media (min-width: 520px) and (max-width: 1024px) {
    .projects-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
</style>
