---
import MainLayout from "../../layouts/MainLayout.astro";
import ProjectCard from "../../components/projectCard.astro";
import { getCollection } from "astro:content";
const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});
const otherProjects = await getCollection("projects", ({ data }) => {
  return data.featured !== true;
});
---

<MainLayout>
  <h1>Featured Projects</h1>
  <div class="projects-wrapper">
    {featuredProjects.map((project) => <ProjectCard project={project} />)}
  </div>
  <h2>Other Fun Projects</h2>
  <div class="projects-wrapper">
    {otherProjects.map((project) => <ProjectCard project={project} />)}
  </div>
</MainLayout>

<style>
  h1, h2 {
    text-align: center;
  }

  .projects-wrapper {
    width: 90%;
    margin: 2% auto;
    padding: 2% 1% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-items: center;
  }

  @media screen and (max-width: 768px) {
    .projects-wrapper {
      width: 95%;
      padding: 0;
      margin-bottom: 5%;
      grid-row-gap: 0;
    }
  }
</style>
