---
import BlogIndexIntro from "@components/BlogIndexIntro.astro";
import PostPreviewCard from "@components/PostPreviewCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blog");
  const tags = [
    ...new Set(
      allBlogPosts
        .map((post) => post.data.tags)
        .flat()
        .map((tag) => tag.toLowerCase().split(" ").join("-"))
    ),
  ];

  return tags.map((tag) => ({
    params: { tag },
    props: { allPosts: allBlogPosts },
  }));
}

const { tag } = Astro.params;
const { allPosts } = Astro.props;
const postsToView = allPosts.filter((post) => {
  const sanitizedTags = post.data.tags.map((tagName) =>
    tagName.toLowerCase().split(" ").join("-")
  );
  return sanitizedTags.includes(tag);
});
---

<MainLayout metadata={DEFAULT_METADATA}>
  <BlogIndexIntro />
  <div class="posts-wrapper">
    {
      postsToView
        .sort((a, b) => {
          if (a.data.title < b.data.title) {
            return -1;
          } else if (a.data.title > b.data.title) {
            return 1;
          } else {
            return 0;
          }
        })
        .map((blogPostEntry) => (
          <div>
            <PostPreviewCard blogBit={blogPostEntry} />
          </div>
        ))
    }
  </div>
</MainLayout>

<style>
  .posts-wrapper {
    display: grid;
    gap: var(--s64);
    margin-bottom: 3rem;
  }

  @media (min-width: 768px) {
    .posts-wrapper {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--s40);
    }

    .posts-wrapper > div {
      grid-area: span 1 / span 2;
    }

    .posts-wrapper div:last-child:nth-child(odd) {
      grid-column: 2 / span 2;
    }
  }
</style>
