---
import MainLayout from "@layouts/MainLayout.astro";
import BlogCard from "@components/blogCard.astro";
import { DEFAULT_METADATA } from "@util/constants";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allBlogPosts = await getCollection("blog", ({ data }) => {
    return !data.tags.includes("Course Notes");
  });
  const tags = [
    ...new Set(
      allBlogPosts
        .map((post) => post.data.tags)
        .flat()
        .map((tag) => tag.toLowerCase().split(" ").join("-"))
    ),
  ];
  console.log(tags);
  return tags.map((tag) => ({
    params: { tag },
    props: { allPosts: allBlogPosts },
  }));
}

const { tag } = Astro.params;
const { allPosts } = Astro.props;
const postsMatchingTag = allPosts.filter((post) => {
  const sanitizedTags = post.data.tags.map((tag) =>
    tag.toLowerCase().split(" ").join("-")
  );
  return sanitizedTags.includes(tag);
});
---

<MainLayout metadata={DEFAULT_METADATA}>
  <div class="intro">
    <h1>Welcome to the blog!</h1>
    <p>
      Here you'll find posts on what I'm learning, things I find interesting,
      and my experiences creating my career path as a software engineer.
    </p>
    <p>Prefer to read through RSS? <a href="/rss.xml">Here's my feed!</a></p>
  </div>
  <div class="posts-wrapper">
    {
      postsMatchingTag
        .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date))
        .map((blogPostEntry) => <BlogCard blogBit={blogPostEntry} />)
    }
  </div>
</MainLayout>

<style>
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .posts-wrapper {
    width: 50%;
    margin: 0 auto;
  }

  .intro {
    width: 55%;
    margin: 0 auto 3rem;
    text-align: center;
    font-size: 1.1rem;
  }

  .intro p {
    margin-bottom: 1.5rem;
  }

  .intro a {
    color: var(--green);
  }

  @media (max-width: 520px) {
    .posts-wrapper {
      width: 100%;
    }
  }

  @media (min-width: 520px) and (max-width: 1024px) {
    .posts-wrapper {
      width: 85%;
    }
  }

  @media (min-width: 1280px) {
    .posts-wrapper {
      width: 45%;
    }
  }
</style>
