---
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
---

<MainLayout metadata={DEFAULT_METADATA}>
  <div class="about-wrapper">
    <slot />
  </div>
</MainLayout>

<style is:global>
  .about-wrapper .selfie {
    margin: 1rem auto;
    block-size: auto;
    inline-size: clamp(125px, 45dvw, 275px);
    border: 2px solid var(--blue);
    border-radius: 25px;
    box-shadow: -7px 7px 16px 0px var(--bg-shadow);
  }

  .about-wrapper .intro p {
    font-family: var(--heading-font);
    font-size: clamp(var(--h6), 8dvw, var(--h4));
    text-align: center;
  }

  .about-wrapper .intro .gradient-text span {
    font-family: var(--accent-font);
    font-size: clamp(var(--h5), 9dvw, var(--h3));
  }

  .about-wrapper .about p {
    margin: 0.5rem auto;
    padding: 0.25rem;
    text-wrap: pretty;
    max-inline-size: min(650px, 80dvw);
  }
</style>
