---
import MainLayout from "@layouts/MainLayout.astro";
import { DEFAULT_METADATA } from "@util/constants";
---

<MainLayout metadata={DEFAULT_METADATA}>
  <div class="about-wrapper">
    <slot />
  </div>
</MainLayout>

<style is:global>
  .about-wrapper section {
    margin-bottom: var(--s40);
  }

  .about-wrapper h2 {
    font-size: clamp(var(--h6), 8dvw, var(--h4));
    text-align: center;
    margin-top: var(--s40);
  }

  .about-wrapper figure {
    margin-bottom: 1rem;
  }

  .about-wrapper figcaption {
    color: var(--text-main);
    font-size: var(--b-sm);
    text-align: center;
    opacity: 0.8;
  }

  .about-wrapper .selfie {
    margin: 1rem auto;
    block-size: auto;
    inline-size: clamp(125px, 45dvw, 275px);
    border: 2px solid var(--blue);
    border-radius: 25px;
    box-shadow: -7px 7px 16px 0px var(--bg-shadow);
  }

  .about-wrapper .intro h1 {
    font-size: var(--h5);
    text-align: center;
  }

  .about-wrapper .intro span {
    font-family: var(--accent-font);
    font-size: var(--h3);
  }

  .about-wrapper .about p,
  .about-wrapper .about ul {
    max-inline-size: min(700px, 80dvw);
    margin: 0.5rem auto;
    padding: 0.25rem;
    text-wrap: pretty;
  }

  .about-wrapper .about-bg-imgs-wrapper {
    max-inline-size: min(800px, 80dvw);
    margin: 0 auto 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--s8);
  }

  .about-wrapper .about-bg-imgs-wrapper img {
    inline-size: 100%;
    border-radius: 3px;
    border: 2px solid var(--text-main);
    box-shadow: -2px 2px 4px 0px var(--bg-shadow);
    grid-column-end: span 2;
  }

  .about-wrapper .praises-wrapper {
    max-inline-size: min(800px, 80dvw);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--s32);
  }

  .about-wrapper .outro-imgs-wrapper {
    max-inline-size: min(550px, 80dvw);
    margin: 2rem auto 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 25dvw;
    grid-auto-flow: column;
    gap: var(--s8);
  }

  .about-wrapper .outro-imgs-wrapper img {
    block-size: 100%;
    inline-size: 100%;
    grid-column-end: span 1;
    grid-row-end: span 1;
    border-radius: 3px;
    border: 2px solid var(--text-main);
    box-shadow: -2px 2px 4px 0px var(--bg-shadow);
  }

  .about-wrapper .outro-imgs-wrapper img:first-child,
  .about-wrapper .outro-imgs-wrapper img:last-child {
    grid-row-end: span 2;
  }

  @media (min-width: 768px) {
    .about-wrapper .intro {
      display: flex;
      align-items: center;
      max-inline-size: min(800px, 80dvw);
      margin: 0 auto;
    }

    .about-wrapper .selfie {
      inline-size: clamp(125px, 45dvw, 260px);
      order: 2;
    }

    .about-wrapper .intro h1 {
      font-size: var(--h4);
    }

    .about-wrapper .intro span {
      font-size: var(--h2);
    }

    .about-wrapper .cta {
      text-align: center;
    }

    .about-wrapper .about-bg-imgs-wrapper img {
      grid-column-end: span 1;
    }

    .about-wrapper .praises-wrapper .wrapper:last-child:nth-child(odd) {
      grid-column-end: span 2;
    }
  }
</style>
