---

---

<div class="post-content">
  <slot />
</div>

<style is:global>
  /* markdown styles */
  .post-content {
    margin: 0 auto;
    max-width: 60rem;
  }

  .post-content p {
    font-size: 1.1rem;
    line-height: 160%;
    margin: 1rem auto;
  }

  .post-content li {
    font-size: 1.1rem;
  }

  .post-content h2 {
    color: var(--blue);
    scroll-margin-top: var(--scroll-height);
  }

  .post-content h3 {
    color: var(--purple);
    scroll-margin-top: var(--scroll-height);
  }

  .post-content h4 {
    color: var(--green);
    scroll-margin-top: var(--scroll-height);
  }

  .post-content hr {
    background: var(--gradient);
    border: none;
    border-radius: 5px;
    height: 2px;
    margin: 0.25rem auto;
    width: 55%;
  }

  .post-content img {
    margin: 0.5rem auto;
    max-inline-size: 70%;
  }

  .post-content a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: var(--purple);
    background-image: none;
    background-repeat: repeat;
    background-size: 100%;
    color: var(--purple);
    font-family: var(--body-font);
    text-decoration: underline solid var(--green);
    text-underline-offset: 2px;
    transition: all 0.2s;
  }

  .post-content a:hover {
    background-image: var(--gradient);
    text-decoration-style: double;
  }

  .post-content p code,
  .post-content li code {
    background-color: var(--bg-shadow);
    border-radius: 3px;
    padding: 0.25rem;
  }

  .post-content pre {
    border-radius: 3px;
    padding: 1.25em;
  }

  .post-content blockquote {
    background-image: var(--gradient);
    border-radius: 5px;
    padding: 2px;
  }

  .post-content blockquote > * {
    background-color: var(--bg-shadow);
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 2% 1% 2% 3%;
    text-align: center;
  }

  .post-content ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
</style>
