---
import "../styles/blog.css";
const { frontmatter } = Astro.props;
---

<a href="/blog"><- Back to the blog list</a>
<h1>{frontmatter.title}</h1>
<!-- read time, tags, and other general things here -->
<div class="blog-content">
  <slot />
</div>

<style>
  .blog-content {
    max-width: 70em;
    margin: 0 auto;
  }
</style>
