---
import FooterBar from "@components/FooterBar.astro";
import HeadMetadata from "@components/HeadMetadata.astro";
import HeaderBar from "@components/HeaderBar.astro";
import "@styles/global.css";

export interface Props {
  metadata: {
    description: string,
    imagePath: string,
    title: string;
    url: string,
  }
}

const { metadata } = Astro.props;
---

<html lang="en" data-theme="dark">
  <head>
    <HeadMetadata metadata={metadata} />
  </head>
  <body id="root">
    <HeaderBar />
    <main class="content">
      <slot />
    </main>
    <FooterBar />
  </body>
</html>

<style>
  body {
    min-height: 100dvh;
    margin: 0 auto;
  }
  
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 70rem;
  }
</style>
