---
interface Props {
  metadata: {
    description: string;
    imagePath: string;
    title: string;
    url: string;
  };
}

import Footer from "@components/FooterBar.astro";
import HeadMetadata from "@components/HeadMetadata.astro";
import Header from "@components/Header.astro";
import "@styles/global.css";

const { metadata } = Astro.props;
---

<html lang="en" data-theme="dark">
  <head>
    <HeadMetadata metadata={metadata} />
  </head>
  <body id="root">
    <Header />
    <main id="content">
      <slot />
    </main>
    <Footer />
  </body>
  
  <style>
    body {
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 100dvh;
    }

    main {
      margin: 0 auto;
      max-width: 75rem;
      padding: 1rem 1rem;
      width: 100dvw;
    }
  </style>
</html>
