---
interface Props {
  metadata: {
    title: string;
    description: string,
    imagePath: string,
    url: string,
  }
}

import "@styles/global.css";
import CommonHead from "@components/commonHead.astro";
import NavBar from "@components/navBar.astro";
import Footer from "@components/footer.astro";
const { metadata } = Astro.props;
---
<html lang="en" data-theme="dark">
  <head>
    <CommonHead metadata={metadata} />
  </head>
  <body id="root">
    <NavBar />
    <main class="content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex-grow: 1;
    min-height: calc(92dvh - var(--header-height) - var(--footer-height));
    margin: 1.5rem 3rem;
  }

  @media (max-width: 1024px) {
    .content {
      margin: 1.5rem 2rem;
    }
  }
</style>
