---
import "@fontsource/fira-sans";
import "@fontsource/rancho";
import "../styles/global.css";
import CommonHead from "../components/commonHead.astro";
import NavBar from "../components/navBar.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
  <head>
    <CommonHead />
    <style>
      body {
        display: flex;
        flex-direction: column;
      }
    
      .content {
        flex-grow: 1;
      }
    </style>
  </head>
  <body id="root">
    <NavBar />
    <div class="content">
      <slot />
    </div>
    <Footer />
  </body>
</html>
